aiodns
aiohttp
beautifulsoup4
cchardet
colorlog
matplotlib
motor
numpy
Pillow
selenium
validators
wordcloud
dnspython

https://github.com/GieselaDev/discord.py/archive/rewrite.zip#egg=discord.py[voice]
