aiodns==1.1.1
aiohttp==3.4.4
beautifulsoup4==4.6.3
cchardet==2.1.4
colorlog==3.1.4
https://github.com/siku2/Eventory/archive/master.zip
matplotlib==3.0.2
motor==2.0.0
numpy==1.15.4
pillow==5.3.0
selenium==3.141.0
validators==0.12.2
wordcloud==1.5.0
dnspython==1.15.0

https://github.com/GieselaDev/discord.py/archive/rewrite.zip#egg=discord.py[voice]
